/*==========  homepage statistics-frame css =========== */

.homepage .static_frame {
    width: 100%;    
    background: #2C261E;
}
.homepage .personage_img.left {
    width: 154px;
    height: 150px;
    background: url('/public/home/papays\ 1.png');
    background-size: cover;
}
.homepage .personage_img.right {
    width: 154px;
    height: 150px;
    background: url('/public/home/papays\ 1.png');
    background-size: cover;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.homepage .static_box {
    width: 191.351px;
    height: 120.003px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}
.homepage .static_box .static_num {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.homepage .static_box .static_text {
    color: #E3C08D;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*===========  homepage Top_restaurants_frame css =========== */

.homepage .top_restaurant_frame {
    width: 100%;
    height: 600px;
    display: flex;
    background: #0B0E11;
    justify-content: center;
}
.homepage .category_title {
    color: #E3C08D;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*===========  homepage BestRestaurants_frame css =========== */
.homepage .best_restaurant_frame {
    width: 100%;
    height: 775px;
    display: flex;
    background: #0B0E11;
}
.homepage {
    background: #0B0E11; 
}

/*===========  homepage Best_dishes_frame css =========== */
.homepage .best_dishes_frame {
    width: 100%;
    height: 462px;
    display: flex;
    margin-top: 72px;
}
.homepage .best_dishes_frame .dish_box{
    margin-right: 26px;
    width: 273px;
    height: 376 px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 0 50px 0 0;
}
.homepage .dish_box .dish_img {
    position: relative;
    width: 273px;
    height: 275px;
    background-size: cover;
    border-radius: 0 50px 0 0;  
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.homepage .dish_img .dish_sale {
    margin-top: 43px;
    width: 77px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8be69;
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 50px 50px 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}
.homepage .view_btn {
    width: 163px;
    height: 50px;
    margin-top: 31px;
    margin-left: 55px;
    padding-left: 25px; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: opacity 1s ease;
    background: rgba(28, 23, 23, 0.696);
    border-radius: 10px;
    border: 2px solid #b48b50;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: white;
}
.homepage .view_btn:hover{
    opacity: 1;
}
.homepage .dish_box .dish_desc {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage .dish_box .dish_desc .dish_title_text{
    margin-top: 18px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #d1d1d1;
}
.homepage .dish_box .dish_desc .dish_desc_text {
    margin-top: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #e3c08d;
}

/*===========  homepage Best_dishes_frame css =========== */
.homepage .ads_restaurant_frame {
    width: 100%;
    height: 693px;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 62px 60px 20px  rgb(217 217 217 / 40%);
    margin-top: 186px;
    background-color: #956dd3;
}
.homepage .ads_video {
    width: 100%;
    background: #0c0e12;
    display: flex;
    box-shadow: 0px -8px 90px rgb(215 215 255);
    transform: scale(1.5s);
    overflow: hidden;
}